html {
  height: 100%;
  min-height: 100%; 
}

body{
  padding: 0;
  background-color: pink;
}

main {
  padding: 0;
}

#homepage-title {
    margin-top: 150px;
}

#home{
  margin-top: 10px;
}

.row {
  margin: 0 auto; 
}

button:focus {
  outline: 0; 
}

header{
  background-color: #111C24;
}


#home-landing {
  background-image: url(../images/home_spoken.jpg);
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  border: none;
  height: 80vh;
}

.navbar-inverse .navbar-nav>li>a {
  color: #FFFFFF;
  background-color: #222222;
}

nav {
  height: 15%; }

.navbar-default {
  background-color: transparent;
  border: none; }

#logo {
  width: 200px;
}

.navbar-right {
  position: relative;
  font-color: white;
  background-color: transparent;
  border: none;
  padding: none; }

.navbar{
  margin-bottom: 0px;
  height: 10vh;
}
.title {
  text-align: center;
  color: white;
  margin-top: 0px;
  font-size: 40px;
  letter-spacing: 2px; }

#search_blurb {
  color: white;
  margin-top: 15px; }

#scroll_to_about {
  text-align: center;
}

#learn_more {
  color: white;
  font-weight: lighter;
  text-decoration: none;
  display: block;
  text-align: center; }

#learn_more_arrow {
  display: inline-block;
  width: 40px;
  height: auto;
  background-color: transparent;
  text-align: center;
  margin-top: 20px; }

.large_button_email {
  background-color: white;
  border: none; }

.large_facebook_button {
  width: 27vw;
  height: 8vh;
  margin-top: 2.5vh;
  border-radius: 5px;
  min-width: 320px;
  background: #3b5998; }

#log_in_blurb, #search_blurb {
  text-decoration: none;
  color: white; }

#wordmark_logo {
  margin: 0 auto;
  display: block;
  height: 100px;
}

#about{
  background-color: #111C24;
  height: 90vh;
}

  #about_box {
  border-radius: 8px;
  background-color: #E8ECF0;
  font-size: 25px;
}

#create-post-button {
  display: block;
  margin: 0 auto; }

.profile_button {
  width: 150px;
  height: 5vh;
  margin-left: 19%;
  border-radius: 5px;
  border: none;
  background-color: white; }

.large_button {
  width: 27vw;
  height: 8vh;
  margin-top: 2.5vh;
  border-radius: 5px;
  min-width: 320px; }

.action_button {
  background-color: #E4007C;
  border: none;
  color: white;
  min-width: 320px; }

#which_log_in {
  width: 27vw;
  height: 100%;
  margin: auto;
  z-index: 51; }

#search {
  height: 100%;
  margin: auto;
}

.each-result {
  margin: 8vh auto;
  overflow: hidden;
  width: 50vw; }

#add_post_no_luck {
  position: absolute;
  right: 40.2vh; }

#nav-search-title {
  display: hidden inline;
  text-align: center;
  color: white;
  margin-top: 0; }

#my-profile {
  display: hidden;
  position: absolute;
  margin-left: 34.5vw;
  margin-right: auto;
  color: white;
  margin-top: 10vh; }

h3 {
  font-size: 7.3vh;
  margin: 0; }

#nearby {
  display: block;
  text-align: center;
  color: #B7BABD;
  margin: 0;
  font-size: 2.2vh;
  font-style: lighter; }

#nearbyRow {
  margin: 0; }

.logo_button_search_page {
  color: none;
  background-color: transparent;
  height: 50px;
  width: 50px; }

.overlay {
  position: absolute;
  top: 0;
  left: 0;
  height: 100%;
  width: 100%;
  opacity: 50%;
  background-color: rgba(0, 0, 0, 0.5);
  z-index: 50; }

#profile{
  height: 90vh;
  margin-top: 50px;
}

#profile-image {
  border-radius: 100%;
}

#profile-image-container{
  padding: 0;
}

.profile-box {
  margin-top: 5vh; }

#my-profile-header {
  color: #333333;
  font-size: 30pt;
  text-align: center; }

#profile-name {
  font-size: 12pt;
  font-weight: bold;
  top: 11vh;
  position: absolute; }

#profile-email {
  font-size: 9pt;
  top: 15vh;
  font-weight: bold;
  position: absolute; }

#profile-tagline {
  font-size: 12pt;
  position: absolute;
  z-index: 21;
  color: black;
  margin-top: 1.8vh;
  margin-left: 0.2vw; }

#tagline-box {
  top: 18.5vh;
  position: absolute;
  width: 27vw;
  height: 6.5vh;
  margin-top: 2.5vh;
  border-radius: 5px;
  min-width: 320px;
  background-color: white; }

.search-results {
  margin-top: -8vh; }

.search_row {
  display: none; }

.request-container {
  text-align: center; }

.send-request img {
  height: 50px; }

/******************************************************************************/
#learn_more_section {
  overflow: hidden; 
  background-color: #111C24;
  height: 10vh;
}

#about_blurb {
  text-align: center;
  font-style: italic;
  color: #F1F1F1;
  margin: 30px 0; }

.homepage {
  min-height: 450px; }

#home #search_row {
  text-align: center;
  margin: 20px 0; }
#home #search_blurb {
  display: block;
  text-align: center; }
#home input {
  display: block;
  margin: 0 auto; }

#user-profile-button, #user-posts-button, #user-requests-button {
  width: 100% !important; }

.pac-container {
  background-color: #FFF;
  z-index: 20;
  position: fixed;
  display: inline-block;
  float: left; }

.modal {
  z-index: 20; }

.modal-backdrop {
  z-index: 10; }

#tagline {
  top: 18vh;
  position: absolute;
  top: 18vh;
  position: absolute;
  width: 17.8vw;
  height: 8vh;
  border: none; }

www_title {
  text-align: center; }

.what {
  text-align: center; }

.when {
  text-align: center; }

.What {
  text-align: center; }

.When {
  text-align: center; }

.Chat {
  text-align: center; }

#search_results_row {
  width: 50vw;
  font-weight: bold;
  font-size: 2vh; }

.www_profile_posts {
  font-weight: bold;
  font-size: 2vh;
  padding: 3.5vh;
  text-align: center; }

/*# sourceMappingURL=style.css.map */

@media screen and (max-width: 767px) {
  #user-posts-button {
      margin-top: 10px;
  }
  #user-requests-button {
      margin-top: 10px;
  }
}

/* sm */
@media screen and (min-width: 768px) {
  #user-posts-button {
      margin-top: 10px;
  }
  #user-requests-button {
      margin-top: 10px;
  }
}

/* md */
@media screen and (min-width: 992px) {
  #user-posts-button {
      margin-top: 0px;
  }
  #user-requests-button {
      margin-top: 0px;
  }
}

/* lg */
@media screen and (min-width: 1200px) {
  #user-posts-button {
      margin-top: 0px;
  }
  #user-requests-button {
      margin-top: 0px;
  }
}
