html {
  height: 100%;
  min-height: 100%; }

body {
  background-image: url("http://bit.ly/1Igm8Ks");
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover; }

button:focus {
  outline: 0; }

.navbar-default .navbar-nav > li > a {
  color: #F1F1F1; }

nav {
  height: 29vh; }

.navbar-default {
  background-color: transparent;
  border: none; }

.logo {
  position: relative;
  height: 50px;
  width: 50px;
  margin-left: 10%;
  margin-top: 5.39vh; }

.navbar-right {
  position: relative;
  font-color: white;
  margin-top: 5.39vh;
  top: -2vh;
  background-color: transparent;
  border: none;
  padding: none; }

.title {
  margin-bottom: 0.5vh;
  margin-top: 0vh;
  text-align: center;
  color: white;
  margin-top: 0px;
  font-size: 58px;
  letter-spacing: 2px; }

#search_blurb {
  color: white;
  margin-top: -1.5vh; }

#scroll_to_about {
  text-align: center; }

#learn_more {
  color: white;
  left: 17.5vw;
  top: 10vh;
  font-weight: lighter;
  text-decoration: none;
  display: block;
  text-align: center; }

#learn_more_arrow {
  display: inline-block;
  width: 3vw;
  height: auto;
  background-color: transparent;
  text-align: center;
  margin: 20px; }

.large_button_email {
  background-color: white;
  border: none; }

.large_facebook_button {
  width: 27vw;
  height: 8vh;
  margin-top: 2.5vh;
  border-radius: 5px;
  min-width: 320px;
  background: #3b5998; }

#log_in_blurb, #search_blurb {
  text-decoration: none;
  color: white; }

main.container {
  width: 27vw;
  height: 30vh;
  margin-top: 22vh; }

.about {
  padding: 50px;
  width: 100%;
  background-color: #111C24; }

#wordmark_logo {
  height: 60px;
  margin: 0 auto;
  display: block; }

#about_box {
  border-radius: 8px;
  height: 100px;
  width: 300px;
  background-color: #E8ECF0;
  margin: 0 auto; }

#blurb_box_tip {
  margin: -30px auto;
  height: 50px;
  width: 30px;
  display: block; }

#create-post-button {
  display: block;
  margin: 0 auto; }

.profile_button {
  width: 150px;
  height: 5vh;
  margin-left: 19%;
  border-radius: 5px;
  border: none;
  background-color: white; }

.large_button {
  width: 27vw;
  height: 8vh;
  margin-top: 2.5vh;
  border-radius: 5px;
  min-width: 320px; }

.action_button {
  background-color: #E4007C;
  border: none;
  color: white;
  min-width: 320px; }

#which_log_in {
  width: 27vw;
  height: 100%;
  margin: auto;
  z-index: 51; }

#search {
  width: 27vw;
  height: 100%;
  margin: auto;
  margin-top: 6vh;
  min-width: 320px; }

.each-result {
  margin: 8vh auto;
  overflow: hidden;
  width: 50vw; }

#add_post_no_luck {
  position: absolute;
  right: 40.2vh; }

#nav-search-title {
  display: hidden;
  position: absolute;
  margin-left: 38.5vw;
  margin-right: 38.5vw;
  color: white;
  margin-top: 10vh; }
  #nav-search-title #my-profile {
    display: hidden;
    position: absolute;
    margin-left: 34.5vw;
    margin-right: auto;
    color: white;
    margin-top: 10vh; }
  #nav-search-title h3 {
    font-size: 7.3vh; }

#nearby {
  position: absolute;
  margin-left: 42.5vw;
  color: #B7BABD;
  margin-top: 10vh;
  font-size: 2.2vh;
  font-style: lighter; }

.logo_button_search_page {
  color: none;
  background-color: transparent;
  height: 50px;
  width: 50px; }

.overlay {
  position: absolute;
  top: 0;
  left: 0;
  height: 100%;
  width: 100%;
  opacity: 50%;
  background-color: rgba(0, 0, 0, 0.5);
  z-index: 50; }

#profile-image {
  border-radius: 100%;
  margin: 0 auto;
  top: 3.5vh;
  position: absolute; }

.profile-box {
  margin-top: 5vh; }

#my-profile-header {
  color: white;
  font-size: 30pt;
  text-align: center; }

#profile-name {
  font-size: 12pt;
  font-weight: bold;
  top: 11vh;
  position: absolute; }

#profile-email {
  font-size: 9pt;
  top: 15vh;
  font-weight: bold;
  position: absolute; }

#profile-tagline {
  font-size: 12pt;
  position: absolute;
  z-index: 21;
  color: black;
  margin-top: 1.8vh;
  margin-left: 0.2vw; }

#tagline-box {
  top: 18.5vh;
  position: absolute;
  width: 27vw;
  height: 6.5vh;
  margin-top: 2.5vh;
  border-radius: 5px;
  min-width: 320px;
  background-color: white; }

.search-results {
  margin-top: -8vh; }

.search_row {
  display: none; }

.request-container {
  text-align: center; }

.send-request img {
  height: 50px; }

/******************************************************************************/
#learn_more_section {
  overflow: hidden; }

#about_blurb {
  text-align: center;
  font-style: italic;
  color: #F1F1F1;
  margin: 30px 0; }

.homepage {
  min-height: 450px; }

#home #search_row {
  text-align: center;
  margin: 20px 0; }
#home #search_blurb {
  margin: 10px auto;
  display: block;
  width: 27vw;
  text-align: left; }
#home input {
  display: block;
  margin: 0 auto; }

#user-profile-button, #user-posts-button, #user-requests-button {
  width: 100% !important; }

.pac-container {
  background-color: #FFF;
  z-index: 20;
  position: fixed;
  display: inline-block;
  float: left; }

.modal {
  z-index: 20; }

.modal-backdrop {
  z-index: 10; }

/*# sourceMappingURL=style.css.map */
